@model StudentModel

@{
    ViewData["Title"] = "Privacy Policy";
    
}

<div class="text-center">
    <h1 class="display-2">Alta de Alumnos</h1>  
</div>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-controller="Home" asp-action="StudentAdd">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Nombre</label>
        <input type="text" class="form-control" asp-for="Name" placeholder="Escriba el Nombre del Alumno" />
    </div>

    <div class="mb-3">
        <label asp-for="LastName" class="form-label">Apellidos</label>
        <input type="text" class="form-control" asp-for="LastName" placeholder="Escriba el Apellido" />
    </div>

    <div class="mb-3">
        <label asp-for="Tetra" class="form-label">Tetramestre</label>
        <input type="text" class="form-control" asp-for="Tetra" placeholder="Escriba el Tetramestre" />
    </div>

    <div class="mb-3">
        <label asp-for="Cuota" class="form-label">Sexo</label>
        <input type="text" class="form-control" asp-for="Cuota" placeholder="Escriba la Cuota" />
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-controller="Home" asp-action="Privacy" class="btn btn-secundary mb-3">Regresar</a>
</form>

