@model StudentModel
@{
    ViewData["Title"] = "Borrar Alumno";

}

<div class="mb-3">
    ¿Estas seguro que deseas borrar al alumno?
</div>

<form asp-controller="Home" asp-action="StudentDeleted">
    <button type="summit" class="btn btn-danger" asp-action="StudentDelete" asp-controller="Home">Borrar</button>
    <a asp-controller="Home" asp-action="Privacy" class="btn btn-secundary">Regresar</a>
</form>