@model PatientModel

@{
    ViewData["Title"] = "Alta de Paciente";
    
}

<div class="text-center">
    <h1 class="display-2">Alta de Pacientes</h1>  
</div>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-controller="Patient" asp-action="PatientAdd">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Nombre</label>
        <input type="text" class="form-control" asp-for="Name" placeholder="Escriba el Nombre del Paciente" />
    </div>

    <div class="mb-3">
        <label asp-for="LastName" class="form-label">Apellidos</label>
        <input type="text" class="form-control" asp-for="LastName" placeholder="Escriba el Apellido" />
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label">Tetramestre</label>
        <input type="text" class="form-control" asp-for="Email" placeholder="Escriba el correo electronico" />
    </div>

    <div class="mb-3">
        <label asp-for="Birth" class="form-label">Cuota</label>
        <input type="text" class="form-control" asp-for="Birth" placeholder="Escriba su fecha de naciemiento" />
    </div>

    <select class="form-select mb-3" asp-for="SpecialistId" asp-items="@Model.SpecialistL">
        <option>Seleccionar Categoria</option>
    </select>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-controller="Patient" asp-action="PatientList" class="btn btn-secundary mb-3">Regresar</a>
</form>